/*@imoprt '../../node_modules/leaflet/dist/leaflet.css';
@import '../../src/styles.scss';

$puple: #9370db;
$gray: #ededed;
*/
.markercluster-map {
  height: 90vh;
}

/* Customize the Clustered Markers */
.marker-cluster-custom {
  background: #9370db;
  border: 3px solid #ededed;
  border-radius: 50%;
  color: #ededed;
  height: 40px;
  line-height: 37px;
  text-align: center;
  width: 40px;
}
